
$primary_1: #a2b9bc;
$primary_2: #b2ad7f;
$primary_3: #878f99;
$primary_4: black;
$primary_5: white;
$myFont:Helvetica ;
$myFontSize_1: 18px;
$myFontSize_2: 100px;
$myColor: rgb(70, 177, 132);


.font {
    font-family: Helvetica, sans-serif;
    size: 18px;
    font-weight: bold;
  }
  .text{
    text-align: center;
    transform: lowercase;
    overflow: hidden;
  }

.mainStyle{
   background-color: $primary_1;
}
.contener{
// .contenerCard &:hover {   
//         background: url($btn-search) -80px 0 no-repeat;
// }
gap: 10px 20px; 
display: flex ;
flex-wrap: wrap;
object-fit: cover;
gap:10px 20px;
column-gap:20px;
row-gap: 20px;
size:150px
}

.cardCounterner{
// display: flex;
// justify-content:justify;
// align-items: flex-start;
// flex-direction: row;
width:200px;
  height:250px;
  border:3px solid rgb(230, 225, 225);
  box-shadow:3px 9px 17px 6px rgb(206, 196, 196);
  border-radius: 10px 10px 10px 10px;
  background-color: whitesmoke;
  padding:5px;
  
}
body {
    //padding:20px;
    margin-top: 40px;
    font-family: $myFont;
    font-size: 150 px;
    color: $myColor;
    border-radius: 10 10 10 10 solid;
    list-style:lower-roman;
    // display: inline-block;
    background-color: whitesmoke;

}

.Card input{
     margin-top: 20px;
     width: 30px;
     height: 30px;
     font-size: 20px;

}
h1{
    margin:150px;
    font-family: $myFont;
    color:$primary_1;
    font-size:$myFontSize_2;
    text-align: center;
    margin:15px;
    background-color: $primary_2;
    border: 20px solid $primary_1;
        //  &:hover {   
    // background: url($btn-search) -80px 0 no-repeat;
//}
}

.button {
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #e1e4e8;
  }
  html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}
 p{
     margin:10px;
    
}

div{
  .img{
    height:50%;
    width:100%;
  }
  
    
}

    .cardCountener{
      width:200px;
      height:250px;
      border:3px solid rgb(230, 225, 225);
      box-shadow:3px 9px 17px 6px rgb(206, 196, 196);
      border-radius: 10px 10px 10px 10px;
      background-color: whitesmoke;
      padding:4px;
      color: $primary_4;
      
    }
    .container {

      gap: 20px 20px; /* row-gap column gap */
      display: flex ;
      flex-wrap: wrap;
      object-fit: cover;
      gap:20px 20px;
      column-gap:20px;
      row-gap: 20px;
      /* align-content: flex-start; */
    }

    .centerClass{
      text-align: center;
      width:100%; 
    }
    